        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/frizione/css/clutch-all.css" type="text/css" media="screen" charset="utf-8" />
<% if (group.type === 'project') {
       switch(testParams.type) {
           case 'gears':
               if (debug) { %>
        <script src="/frizione/js/gears_init.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/json2.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/xhr.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/unit-test.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/gears-saver.cjs" type="text/javascript" charset="utf-8"></script>
            <% }
               else { %>
        <script src="/frizione/js/gears-unittester.cjs" type="text/javascript" charset="utf-8"></script>
            <% } %>
        <script src="<%= mountPoint + '/' + group.dir + to + '?nocache=' + new Date().getTime() %>" type="text/javascript" charset="utf-8"></script>
            <% break;

           case 'workerpool':
               if (debug) { %>
        <script src="/frizione/js/gears_init.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/json2.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/xhr.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/wp-saver.cjs" type="text/javascript" charset="utf-8"></script>
            <% }
               else { %>
        <script src="/frizione/js/workerpool-unittester.cjs" type="text/javascript" charset="utf-8"></script>
            <% }
               break;

           default:
               if (debug) { %>
        <script src="/frizione/js/json2.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/xhr.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/unit-test.cjs" type="text/javascript" charset="utf-8"></script>
        <script src="/frizione/js/saver.cjs" type="text/javascript" charset="utf-8"></script>
            <% }
               else { %>
        <script src="/frizione/js/browser-unittester.cjs" type="text/javascript" charset="utf-8"></script>
            <% } %>
        <script src="<%= mountPoint + '/' + group.dir + to + '?nocache=' + new Date().getTime() %>" type="text/javascript" charset="utf-8"></script>
            <% break;
       }
  } %>