    <body>
        <p class="MenuHeading">
            <a href="/frizione">Home</a>&#160;
            <a href="/frizione/docs/documentation.html">Documentation</a>&#160;
            <a href="/frizione/<%= group.type %>s/<%= group.dir %>"><%= group.name %></a>&#160;
            <a href="/frizione/<%= group.type %>s/<%= group.dir %>/<%= service %>"><%= serviceText %></a>
        </p>
        <h1><%= title %></h1>

        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td>
                        <img src="/frizione/imgs/jslint-small.gif" width="192" height="60" alt="JSLint" />
                    </td>
                    <td valign="middle" align="left">
                        <h2>
                            <a href="http://www.jslint.com">JSLint</a>:
                            The <a href="http://javascript.crockford.com/">JavaScript</a> Verifier:
                            <br />
                            <code><%= file %></code>
                        </h2>
                        <p>
                            <a href="http://www.jslint.com/lint.html">Documentation</a>,
                            <a href="http://www.amazon.com/exec/obidos/ASIN/0596517742/wrrrldwideweb" target="_blank">
                                Book
                            </a>
                        </p>
                        <p>Edition 2008-06-04</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <pre class='code'><%= text %></pre>

        <div id='output'><%= report %></div>

        <fieldset id='options'>
            <legend>Options</legend>
            <div>
                <input type='checkbox' id='passfail' title='passfail' <%= jsLint.passfail %> />
                <label for='passfail' title='passfail'>Stop on first error</label>
                <br />
                <input type='checkbox' id='white' title='white' <%= jsLint.white %> />
                <label for='white' title='white'>Strict whitespace</label>
                <br />
                <input type='checkbox' id='browser' title='browser' <%= jsLint.browser %> />
                <label for='browser' title='browser'>Assume a browser</label>
                <br />
                <input type='checkbox' id='widget' title='widget' <%= jsLint.widget %> />
                <label for='widget' title='widget'>Assume a <a href="http://widgets.yahoo.com/gallery/view.php?widget=37484">Yahoo Widget</a></label>
                <br />
                <input type='checkbox' id='sidebar' title='sidebar' <%= jsLint.sidebar %> />
                <label for='sidebar' title='sidebar'>Assume a <a href="http://msdn2.microsoft.com/en-us/library/aa965850(VS.85).aspx">Windows Sidebar Gadget</a></label>
                <br />
                <input type='checkbox' id='rhino' title='rhino' <%= jsLint.rhino %> />
                <label for='rhino' title='rhino'>Assume <a href="http://www.mozilla.org/rhino/">Rhino</a></label>
                <br />
                <input type='checkbox' id='adsafe' title='adsafe' <%= jsLint.adsafe %> />
                <label for='adsafe' title='adsafe'><a href="http://www.ADsafe.org">ADsafe</a></label>
            </div>
            <div>
                <input type='checkbox' id='debug' title='debug' <%= jsLint.debug %> />
                <label for='debug' title='debug'>Tolerate <tt>debugger</tt> statements</label>
                <br />
                <input type='checkbox' id='evil' title='evil' <%= jsLint.evil %> />
                <label for='evil' title='evil'>Tolerate <tt>eval</tt></label>
                <br />
                <input type='checkbox' id='cap' title='cap' <%= jsLint.cap %> />
                <label for='cap' title='cap'>Tolerate <tt>HTML</tt> case</label>
                <br />
                <input type='checkbox' id='on' title='on' <%= jsLint.on %> />
                <label for='on' title='on'>Tolerate <tt>HTML</tt> event handlers</label>
                <br />
                <input type='checkbox' id='fragment' title='fragment' <%= jsLint.fragment %> />
                <label for='fragment' title='fragment'>Tolerate <tt>HTML</tt> fragments</label>
                <br />
                <input type='checkbox' id='laxbreak' title='laxbreak' <%= jsLint.laxbreak %> />
                <label for='laxbreak' title='laxbreak'>Tolerate sloppy line breaking</label>
                <br />
                <input type='checkbox' id='forin' title='forin' <%= jsLint.forin %> />
                <label for='forin' title='forin'>Tolerate <a href="http://yuiblog.com/blog/2006/09/26/for-in-intrigue/">unfiltered</a> <tt>for in</tt></label>
            </div>
            <div>
                <input type='checkbox' id='undef' title='undef' <%= jsLint.undef %> />
                <label for='undef' title='undef'>Disallow undefined variables</label>
                <br />
                <input type='checkbox' id='nomen' title='nomen' <%= jsLint.nomen %> />
                <label for='nomen' title='nomen'>Disallow leading <tt>_</tt> in identifiers</label>
                <br />
                <input type='checkbox' id='eqeqeq' title='eqeqeq' <%= jsLint.eqeqeq %> />
                <label for='eqeqeq' title='eqeqeq'>Disallow <tt>==</tt> and <tt>!=</tt></label>
                <br />
                <input type='checkbox' id='plusplus' title='plusplus' <%= jsLint.plusplus %> />
                <label for='plusplus' title='plusplus'>Disallow <tt>++</tt> and <tt>--</tt></label>
                <br />
                <input type='checkbox' id='bitwise' title='bitwise' <%= jsLint.bitwise %> />
                <label for='bitwise' title='bitwise'>Disallow bitwise operators</label>
                <br />
                <input type='checkbox' id='regexp' title='regexp' <%= jsLint.regexp %> />
                <label for='regexp' title='regexp'>Disallow <tt>.</tt> in RegExp literals</label>
                <br />
                <input type='checkbox' id='glovar' title='glovar' <%= jsLint.glovar %> />
                <label for='glovar' title='glovar'>Disallow global <tt>var</tt></label>
            </div>
        </fieldset>

        <p id='footer' style='text-align: center;'>
            Copyright 2002 <a href="http://www.JSLint.com/lint.html">Douglas Crockford.</a>
            <a target="_blank" href="http://www.crockford.com/">All Rights Reserved Wrrrldwide and Beyond!</a>
            <br />
            <a href="http://javascript.crockford.com/code.html" target="_blank">Code Conventions for the JavaScript Programming Language.</a>
            <br />
            <a href="http://tech.groups.yahoo.com/group/jslint_com/" target="_blank">Join the JSLint Group.</a>
        </p>

        <p>&#160;</p>
        <p class="MenuHeading">
            <a href="/frizione">Home</a>&#160;
            <a href="/frizione/docs/documentation.html">Documentation</a>&#160;
            <a href="/frizione/<%= group.type %>s/<%= group.dir %>"><%= group.name %></a>&#160;
            <a href="/frizione/<%= group.type %>s/<%= group.dir %>/<%= service %>"><%= serviceText %></a>
        </p>
    </body>