fieldset {
    border: 2px solid black; 
    margin: 1em; 
    color: black; 
    background-color: gainsboro;
    padding: 8px; 
    text-align: left;
    font-size: 10pt !important;
}

legend {
    border: 2px solid black; 
    color: black; 
    background-color: thistle; 
    padding: 8px;
}

textarea {
    width: 95%; 
    height: 3in; 
    font-family: monospace; 
    overflow: auto;
    border: 2px solid black; 
    color: black; 
    background-color: ghostwhite; 
    padding: 0.5em 0;
}

i {
    font-family: serif; 
    font-style: italic;
}

input[type=button] {
    border: 2px solid black; 
    color: black; 
    background-color: navajowhite;
}

input[type=button]:hover {
    background-color: lightsteelblue; 
    text-decoration: underline;
}

input[type=button]:active {
    background-color: indianred; 
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:link {
    color: darkblue;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue; 
    text-decoration: underline;
}

a:active {
    color: red;
}

#options {
    background-color: linen;
}

#options div {
    float: left; 
    margin-left: 1em;
}

div#errors {
    margin: 1em; 
    border: 2px solid black; 
    padding: 1em; 
    background-color: mistyrose;
}

#errors p {
    margin-left: 2em;
}

#errors p.evidence {
    margin-left: 0em; 
    font-family: monospace;
}

div#functions {
    margin: 1em; 
    border: 2px solid black; 
    padding: 1em; 
    background-color: white;
}

#functions {
    font-family: monospace;
}

#functions div {
    margin-left: 10em; 
    text-indent: -5em;
}

#functions div.function {
    margin-left: 0em; 
    text-indent: 0em;
}

body {
	background-color: #f8f8f8;
	color: #303048;
	font-family: Verdana;
	font-size: 12pt !important;
    text-align: center; 
}

div#output {
    text-align: left;
}

h1 {
	font: 16pt 'Times New Roman';
	margin: 0.5cm 0 0.25cm 0;
	text-align: left;
	color: #3084cc;
}

.MenuHeading {
	text-align: left;
	font-size: 12pt;
	margin-bottom: 0.2cm;
	margin-top: 0.2cm;
	padding: 0.1cm 0.1cm !important;
	background: #d8d8f8;
}
